@{
    ViewData["Title"] = "Invul pagina";
}
<h2>Invullen van persoonlijke gegevens:</h2>
<br />
<h5>Wat is uw geslacht?</h5>
<br />
<form method="post">
    <input type="radio" name="geslacht" id="geslacht" value="1" required /> Man
    <input type="radio" name="geslacht" id="geslacht" value="0" required /> Vrouw
    <input type="radio" name="geslacht" id="geslacht" value="0" required /> Overig
    <br />
    <br />
    <h5>Wat is uw geboortedatum?</h5>
    <br />
    <input type="date" name="geboortedatum" id="geboortedatum" required />
    <br />
    <br />
    <h5>Hoe lang bent u?</h5>
    <br />
    <input type="number" name="lengte" id="lengte" required /> in centimeter
    <br />
    <br />
    <h5>Wat is uw gewicht?</h5>
    <br />
    <input type="number" name="gewicht" id="gewicht" required /> in kilogram
    <br />
    <br />
    <h5>Hoeveel uur sport u per week?</h5>
    <br />
    <input type="number" name="sportPerWeek" id="sportPerWeek" required /> uur per week
    <br />
    <br />
    <h5>Werkt u met uw hoofd of met uw spieren?</h5>
    <br />
    <input type="radio" name="werk" id="werk" value="1" required /> Fysiek
    <input type="radio" name="werk" id="werk" value="0" required /> Mentaal
    <input type="radio" name="werk" id="werk" value="1" required /> Allebei
    <input type="radio" name="werk" id="werk" value="0" required /> Geen van beide
    <br />
    <br />
    <h5>Bent u veganist? </h5>
    <br />
    <input type="radio" name="vegan" id="vegan" value="1" required /> Ja
    <input type="radio" name="vegan" id="vegan" value="0" required /> Nee
    <br />
    <br />
    <input type="submit" asp-controller="Invullen" asp-action="InvullenPersoonlijkConfirm" asp-route-id="" value="Voeg gebruiker toe" />
    <br />
    <br />
    @{
        if (Model == true)
        {
            <h5>Voer alstublieft reële waardes in in alle velden</h5>
        }
    }
</form>