@{
    ViewData["Title"] = "Uitkomst pagina";
}
<h5>Dit zijn de resultaten. 
    Op basis van de ingevulde gegevens hebben we dit voor u kunnen berekenen. 
    Hier is makkelijk te zien of u te veel of te weinig voedingsstoffen binnenkrijgt. 
    Daarnaast hebben wij een lijst met producten voor u samengesteld die u kun consumeren om bepaalde stoffen bij te vullen of in evenwicht te brengen!</h5>
<form>
    Calorieën:<br />
    Totale vetten:<br />
    Verzadigde vetten:<br />
    Koolhydraten:<br />
    Suikers:<br />
    Eiwitten:<br />
    Zout:<br />
    <input type="button" value="Home" onclick="window.location.href = '@Url.Action("Index", "Home")';" />
</form>